//Import all scss files here. Follow the structure.

//fonts
@font-face {
  font-family: 'League Gothic';
  src: url('./fonts/LeagueGothic-Regular.eot');
  src: url('./fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/LeagueGothic-Regular.woff2') format('woff2'),
      url('./fonts/LeagueGothic-Regular.woff') format('woff'),
      url('./fonts/LeagueGothic-Regular.ttf') format('truetype'),
      url('./fonts/LeagueGothic-Regular.svg#LeagueGothic-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Champion';
  src: url('./fonts/Champion-HTF-Middleweight.eot');
  src: url('./fonts/Champion-HTF-Middleweight.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Champion-HTF-Middleweight.woff2') format('woff2'),
      url('./fonts/Champion-HTF-Middleweight.woff') format('woff'),
      url('./fonts/Champion-HTF-Middleweight.ttf') format('truetype'),
      url('./fonts/Champion-HTF-Middleweight.svg#Champion-HTF-Middleweight') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Champion-Light';
  src: url('./fonts/Champion-HTF-Lightweight.eot');
  src: url('./fonts/Champion-HTF-Lightweight.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Champion-HTF-Lightweight.woff2') format('woff2'),
      url('./fonts/Champion-HTF-Lightweight.woff') format('woff'),
      url('./fonts/Champion-HTF-Lightweight.ttf') format('truetype'),
      url('./fonts/Champion-HTF-Lightweight.svg#Champion-HTF-Lightweight') format('svg');
  font-weight: 300;
  font-style: normal;
}

$mon: 'Montserrat';
$got: 'League Gothic';
$cham: 'Champion';
$cham-l: 'Champion-Light';

//colors
$accent: #48c0b7;

// Vendors
@import './vendors/all.scss';

// Partials
@import './partials/all.scss';

// Pages
@import './pages/all.scss';
