html, body {
  height: 100%;
  font-family: $mon;

  * {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $got;
  font-weight: bolder;
  line-height: 1;
  margin: 0;
  letter-spacing: .8px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  pointer-events: none;
  transition: .4s ease all;

  &.show {
    opacity: 1;
    pointer-events: initial;
  }
}

.error-message {
  width: 100%;
  display: block;
  position: fixed;
  height: 70px;
  background-color: #48c0b7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(-70px);
  transition: .4s ease all;

  &.show {
    transform: translateY(0);
  }

  p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.page {
  min-height: calc(100vh - 131px);
}

.download-lightbox {
  max-width: 975px;
  width: 80%;
  padding: 1% 0 4%;
  background-image: url('./images/modal-bg.png');
  background-size: cover;
  background-position: bottom center;
  position: relative;
  border-radius: 30px;
  position: fixed;
  top: 7.5%;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: .4s ease all;

  &.show {
    opacity: 1;
    pointer-events: initial;
    transition: .4s ease all .4s;
  }

  .close {
    width: 38px;
    height: 38px;
    line-height: 34px;
    background-color: rgba(255,255,255,.12);
    border-radius: 100%;
    position: absolute;
    top: 12px;
    right: 12px;
    text-align: center;
    font-size: 29px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .25s ease all;
    z-index: 1;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  .wrapper {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;


    .title {
      width: 100%;
      display: block;
      color: #fff;
      font-family: $cham-l;
      font-weight: 100;
      font-size: 72px;
      letter-spacing: 18px;
      padding:  30px 0;
      border-bottom: 2px solid #fff;
      text-align: center;
      pointer-events: none;
    }

    .or-div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.22);
      font-family: $cham-l;
      font-size: 24px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.4px;
      text-align: center;
      color: #ffffff;

      &:before, &:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 2px;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.22);
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
      }

      &:before {
        left: -24px;
      }

      &:after {
        right: -24px;
      }
    }

    .col-left,.col-right {
      max-width: 275px;
      padding: 35px 0 25px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      img {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
      }

      canvas {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        max-width: 100%;
      }

      .hide {
        display: none;
      }

      h2 {
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.22);
        font-family: $cham-l;
        font-size: 50px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 2.4px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        align-self: center;
      }

      .download, .create {
        width: 231px;
        height: 50px;
        line-height: 46px;
        display: block;
        margin: 0 auto;
        border: solid 2px #ffffff;
        background-color: #ffffff;
        letter-spacing: 0.9px;
        text-align: center;
        color: #48c0b7;
        font-family: $cham-l;
        transition: .3s ease all;
        text-transform: uppercase;
        margin-top: 15px;
        align-self: flex-end;

        &:hover {
          color: #fff;
          background-color: transparent;
        }
      }
    }
  }
}

.banner {
  max-width: 1160px;
  margin: 0 auto 15px auto;
}

.meme-form {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 25px;

  form {
    h2 {
      color: #af7898;
      text-transform: uppercase;
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        font-size: 25px;
        margin: 0 10px;
        height: 100%;
        border: 0;
        border-bottom: 2px solid #48c0b7;
        color: #6d5c7e;
        background-color: #ceebe9;
        padding: 12px;
        transition: .3s ease all;

        &:hover {
          border-color: #6d5c7e;
        }

        &:focus {
          outline: transparent;
        }

        &.name {
          width: 180px;;
        }

        &.addiction {
          width: 230px;
        }

        &::placeholder {
          text-transform: uppercase;
        }
      }
    }

    .button-wrapper {
      margin-top: 15px;
      button {
        font-family: $cham-l;
        letter-spacing: 1.1px;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        width: 231px;
        height: 50px;
        line-height: 46px;
        color: #fff;
        background-color: #48c0b7;
        border: 2px solid #48c0b7;
        transition: .3s ease all;
        cursor: pointer;
        padding: 0;

        &:hover,&:focus {
          background-color: transparent;
          outline: transparent;
          color: #000;
        }
      }
    }
  }
}

.stream {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 40px 20px;
  .album-player {
    max-width: 100%;
    margin: 20px 0;

    iframe {
      width: 100%;
    }
  }

  &-btn {
    font-family: $cham-l;
    letter-spacing: 1.1px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    line-height: 46px;
    color: #fff;
    background-color: #48c0b7;
    border: 2px solid #48c0b7;
    transition: .3s ease all;
    padding: 0;
    display: block;
    margin: 0 auto;
    text-align: center;

    &:hover,&:focus {
      background-color: transparent;
      outline: transparent;
      color: #000;
    }
  }
}

.meme-posts {
  margin-bottom: 50px;

  .container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #b994ac;
    padding: 30px;
    max-height: 400px;
    overflow-y: scroll;
    position: relative;

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
      height: 7px;
    }
  }

  &-scroll {
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: normal;
    font-family: $cham;
    text-transform: uppercase;
    position: absolute;
    top: 116px;
    right: 20px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.22);
    transform: rotate(90deg);
    transform-origin: right;
  }

  &-post {
    width: calc(25% - 2 * 10px);
    padding-top: calc(25% - 2 * 10px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    margin: 10px;
  }
}

.instagram {
  background-color: #48c0b7;
  margin-bottom: 15px;
  padding-bottom: 15px;

  .container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
  }

  .hashtag{
    text-align: center;
    padding: 35px 0 15px 0;
    font-size: 50px;
    color: #fff;
    font-weight: normal;

    span {
      margin-right: 7px;
    }
  }

  .insta-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #287e93;

    a {
      max-width: calc(25% - 2 * 10px);
      margin: 10px;

      &:hover {
        .insta-photo {
          &-hover {
            opacity: 1;
          }
        }
      }
    }

    .insta-photo {
      width: 300px;
      max-width: 100%;
      padding-top: 100%;
      background-size: cover;
      background-position: center center;
      position: relative;

      &-hover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(72, 192, 183, .45);
        opacity: 0;
        transition: .4s ease opacity;

        &-view {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #af7898;
          z-index: 2;
          font-size: 30px;
          text-transform: uppercase;
          font-family: $cham;
          letter-spacing: 3px;
        }
      }
    }
  }
}

.album {
  background: #af7898;
  padding: 35px 0;

  .container {
    max-width: 978px;
    width: 90%;
    margin: 0 auto;
    display: flex;

    .col-left, .col-right {
      width: 50%;
      flex-grow: 1
    }

    .col-left {
      max-width: 400px;

      .album-img {
        img {
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }

    .col-right {
      padding: 0px 40px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;

      .album-copy {
        h3 {
          color: #fff;
          font-size: 30px;
          font-weight: normal;
          text-transform: uppercase;
          letter-spacing: normal;
          margin-bottom: 8px;
        }

        h1 {
          text-transform: uppercase;
          letter-spacing: normal;
          font-size: 60px;
          color: #fff;
          font-family: $cham;
        }
      }

      .providers {
        padding: 0px 20px;
        &-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          li {
            margin: 12px;
            max-width: 125px;
          }

          .provider {
            img {
              max-width: 100%;
              transition: .2s ease-out all;
            }
          }
        }
      }
    }
  }
}

.socials {

  &-list {
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: center;
  }
  &-link {
    color: $accent;
    font-size: 32px;
    padding: 0px 5px;
    transition: .2s ease all;

    &:hover {
      color: #000;
    }
  }
}

.footer {
	clear: both;
	position: relative;
  margin: 0px auto;
  height: 131px;
  display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
	font-size: 11px;
	color: #ffffff;
	font-weight: 300;
  letter-spacing: 1px;
  background-color:#bf93ad;

  div {
    display: inline-block;padding:0 7px;

    a {
      transform: .2s ease all;
    }

    a:hover {
      color: #000;
    }
  }

  .label-logos {
    max-width: 90px;
  }

  .copyright {
    text-align: left;
  }

  .legal-text {
	  clear: both;
		position: relative;
    padding: 0px 0 0px;
  }
}

// Tablet
@media screen and (max-width: 1023px) {
  .download-lightbox {
    .wrapper {
      padding-left: 15px;
      padding-right: 15px;
      justify-content: space-between;


      .title {
        font-family: $cham;
        font-weight: 100;
        font-size: 40px;
        letter-spacing: 8px;
        padding:  50px 0 30px 0;
      }

      .or-div {
        font-size: 14px;

        &:before, &:after {
          width: 10px;
        }

        &:before {
          left: -14px;
        }

        &:after {
          right: -14px;
        }
      }

      .col-left,.col-right {
        max-width: 180px;
        padding: 35px 0 25px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        }

        canvas {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          max-width: 100%;
        }

        .hide {
          display: none;
        }

        h2 {
          font-size: 35px;
          letter-spacing: 2.4px;
        }

        .download, .create {
          width: 180px;
          font-size: 14px;
        }
      }
    }
  }

  .meme-form {
    form {
      h2 {
        font-size: 33px;
        padding: 0px 20px;

        input {
          font-size: 15px;

          &.name {
            width: 125px;
          }

          &.addiction {
            width: 150px;
          }
        }
      }
    }
  }

  .meme-posts {
    &-post {
      width: calc(33.33% - 2 * 10px);
      padding-top: calc(33.33% - 2 * 10px);
    }
  }

  .instagram {
    .container {
      .insta-wrapper {
        a {
          max-width: calc(33.33% - 2 * 10px);
        }
      }
    }
  }

  .album {
    .container {
      flex-direction: column;

      .col-left, .col-right {
        width: 100%;
        margin: 0 auto;
      }

      .col-left {
        margin-bottom: 15px;
      }

      .col-right {
        max-width: 650px;
      }
    }
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .label-logos {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .download-lightbox {
    .wrapper {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      width: 95%;

      .title {
        font-family: $cham;
        font-weight: 100;
        font-size: 20px;
        letter-spacing: 8px;
        padding:  50px 0 30px 0;
      }

      .or-div {
        font-size: 14px;
        top: 55%;

        &:before, &:after {
          width: 10px;
          display: none;
        }

        &:before {
          left: -14px;
        }

        &:after {
          right: -14px;
        }
      }

      .col-left,.col-right {
        margin: 0 auto;
        max-width: 100px;

        h2 {
          font-size: 18px;
          letter-spacing: 2.4px;
        }

        .download, .create {
          width: 95px;
          font-size: 13px;
        }
      }
    }
  }

  .meme-form {
    max-width: 400px;
    form {
      h2 {
        flex-wrap: wrap;
        font-size: 38px;
        line-height: 1.25;
      }
    }
  }

  .meme-posts {
    .container {
      overflow: auto;
    }
    &-post {
      width: calc(50% - 2 * 10px);
      padding-top: calc(50% - 2 * 10px);
    }
  }

  .instagram {
    .container {
      .insta-wrapper {
        a {
          max-width: calc(50% - 2 * 10px);
        }
      }
    }
  }

  .album {
    .container {
      .col-right {
        .album-copy {
          margin-bottom: 10px;
          h1 {
            font-size: 45px;
          }
        }
        .providers {
          &-list {
            max-width: 275px;
            margin: 0 auto;
            justify-content: space-between;
            li {
              margin: 0 auto;
              padding: 0px 5px;
              max-width: 50%;
            }
          }
        }
      }
    }
  }

  .footer {
    .copyright {
      max-width: 90%;
      margin: 0 auto;
      text-align: center;
      padding: 0;
    }
  }
}
